.root{
    margin: 0;padding: 0;
    background:linear-gradient( violet,purple,rgb(66, 187, 228));
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    
}

  
.top{
    width:500px;
    border-radius: 10px;
    font-family: sans-serif;
    background-color: #fff;
    margin: 10% auto 30%;
    padding: 20px;
    
    justify-content: center;
    
    
}
.enter,.textu{
  
    color: black;
    box-shadow: 0,0,0,0.1;
    border-radius: 6px;
    
    margin-left: 5px;
    padding: 5px;
    
}
.enter{
    background-color:rgb(210, 30, 30);
    width: 30px;
    border:none;
    font-size: 20px;
    height: 30px;
}
.textu{
    background-color: rgb(196, 193, 193);
    border-color: aqua;
    box-sizing: 1px;
    width: 50%;

}
.hello{
    background-color: coral;
    width:200px;
    height: 200px;
    text-align: center;

}
ul li{
    list-style: none;
    user-select: none;
    padding: 6px;
    position: relative;

}
ul li::before{
    content: ' ';
    border-radius: 50%;
    background-color:rgb(183, 0, 255);
    height:24px;
    width:24px;
    background-size: cover;
    position: absolute;
    background-position: center;
    margin-left: -36px;
    margin-top: -4px;
}
ul li.check{
    color: #555;
    text-decoration: line-through;
    
}
ul li.check::before{
    background-color: greenyellow;
}
ul li span{
    font-size: 20px;
    text-align: center;
    right: 0;
    position:absolute;
    width:40px;
    height: 40px;
    border-radius: 6px;
}

